In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('./share/cog_2023.csv')
df

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [6]:
df.index

RangeIndex(start=0, stop=37563, step=1)

In [7]:
df.columns

Index(['TYPECOM', 'COM', 'REG', 'DEP', 'CTCD', 'ARR', 'TNCC', 'NCC', 'NCCENR',
       'LIBELLE', 'CAN', 'COMPARENT'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37563 entries, 0 to 37562
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TYPECOM    37563 non-null  object
 1   COM        37563 non-null  object
 2   REG        34990 non-null  float64
 3   DEP        34990 non-null  object
 4   CTCD       34990 non-null  object
 5   ARR        34973 non-null  object
 6   TNCC       37563 non-null  int64
 7   NCC        37563 non-null  object
 8   NCCENR     37563 non-null  object
 9   LIBELLE    37563 non-null  object
 10  CAN        34845 non-null  object
 11  COMPARENT  2618 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 3.4+ MB

In [9]:
df.select_dtypes(['object', 'int64', 'float64'])

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [10]:
df.shape

(37563, 12)

In [11]:
df.convert_dtypes('int64', 'float64')

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,<NA>
1,COM,01002,84,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,<NA>
2,COM,01004,84,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,<NA>
3,COM,01005,84,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,<NA>
4,COM,01006,84,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6,976,976D,<NA>,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,<NA>
37559,COM,97614,6,976,976D,<NA>,1,OUANGANI,Ouangani,Ouangani,97610,<NA>
37560,COM,97615,6,976,976D,<NA>,0,PAMANDZI,Pamandzi,Pamandzi,97611,<NA>
37561,COM,97616,6,976,976D,<NA>,0,SADA,Sada,Sada,97612,<NA>
37562,COM,97617,6,976,976D,<NA>,0,TSINGONI,Tsingoni,Tsingoni,97613,<NA>

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37563 entries, 0 to 37562
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TYPECOM    37563 non-null  object
 1   COM        37563 non-null  object
 2   REG        34990 non-null  float64
 3   DEP        34990 non-null  object
 4   CTCD       34990 non-null  object
 5   ARR        34973 non-null  object
 6   TNCC       37563 non-null  int64
 7   NCC        37563 non-null  object
 8   NCCENR     37563 non-null  object
 9   LIBELLE    37563 non-null  object
 10  CAN        34845 non-null  object
 11  COMPARENT  2618 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 3.4+ MB

In [13]:
d = df.convert_dtypes()

In [14]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37563 entries, 0 to 37562
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TYPECOM    37563 non-null  string
 1   COM        37563 non-null  string
 2   REG        34990 non-null  Int64
 3   DEP        34990 non-null  string
 4   CTCD       34990 non-null  string
 5   ARR        34973 non-null  string
 6   TNCC       37563 non-null  Int64
 7   NCC        37563 non-null  string
 8   NCCENR     37563 non-null  string
 9   LIBELLE    37563 non-null  string
 10  CAN        34845 non-null  string
 11  COMPARENT  2618 non-null   Int64
dtypes: Int64(3), string(9)
memory usage: 3.5 MB

In [15]:
df.infer_objects()

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [16]:
cp = df.copy()
cp

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [19]:
df.head(16)

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
5,COM,01007,84.0,01,01D,011,1,AMBRONAY,Ambronay,Ambronay,0101,NaN
6,COM,01008,84.0,01,01D,011,1,AMBUTRIX,Ambutrix,Ambutrix,0101,NaN
7,COM,01009,84.0,01,01D,011,1,ANDERT ET CONDON,Andert-et-Condon,Andert-et-Condon,0104,NaN
8,COM,01010,84.0,01,01D,011,1,ANGLEFORT,Anglefort,Anglefort,0110,NaN
9,COM,01011,84.0,01,01D,014,1,APREMONT,Apremont,Apremont,0114,NaN
10,COM,01012,84.0,01,01D,011,1,ARANC,Aranc,Aranc,0110,NaN
11,COM,01013,84.0,01,01D,011,1,ARANDAS,Arandas,Arandas,0101,NaN
12,COM,01014,84.0,01,01D,014,1,ARBENT,Arbent,Arbent,0115,NaN
13,COM,01015,84.0,01,01D,011,1,ARBOYS EN BUGEY,Arboys en Bugey,Arboys en Bugey,0104,NaN
14,COMD,01015,NaN,NaN,NaN,NaN,1,ARBIGNIEU,Arbignieu,Arbignieu,NaN,1015.0
15,COM,01016,84.0,01,01D,012,1,ARBIGNY,Arbigny,Arbigny,0117,NaN

In [24]:
df.at[1, "COM"]
df.iat[2, 3]

'01'

In [34]:
df.loc[0, "NCC"]
df.loc[15:25, ["TNCC", "NCC"]]
df.loc[10:20][df["COMPARENT"].notna()][["LIBELLE", "CAN", "COMPARENT"]]

/tmp/ipykernel_11902/1945869123.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.loc[10:20][df["COMPARENT"].notna()][["LIBELLE", "CAN", "COMPARENT"]]

      LIBELLE  CAN  COMPARENT
14  Arbignieu  NaN     1015.0

In [47]:
df.loc[df.index <= 1000 & df["COMPARENT"].isna() & df["CAN"].notna(), ["LIBELLE", "CAN", "COMPARENT"]]
df

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [55]:
df.drop("has_comparent", axis=1, inplace=True)
df.insert(0, "has_comparent", df["COMPARENT"].notna())
df

,has_comparent,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,False,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,False,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,False,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,False,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,False,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37558,False,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,False,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,False,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,False,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,False,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [57]:
df.loc[df["COMPARENT"].notna(), ["has_comparent", "COMPARENT"]]

       has_comparent  COMPARENT
14              True     1015.0
23              True     1025.0
32              True     1033.0
36              True     1036.0
39              True     1138.0
...              ...        ...
36816           True    89003.0
36819           True    89472.0
36827           True    89003.0
36996           True    91390.0
37039           True    91390.0

[2618 rows x 2 columns]