In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('./share/cog_2023.csv')
df

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [12]:
df.index

RangeIndex(start=0, stop=37563, step=1)

In [13]:
df.columns

Index(['TYPECOM', 'COM', 'REG', 'DEP', 'CTCD', 'ARR', 'TNCC', 'NCC', 'NCCENR',
       'LIBELLE', 'CAN', 'COMPARENT'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37563 entries, 0 to 37562
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TYPECOM    37563 non-null  object
 1   COM        37563 non-null  object
 2   REG        34990 non-null  float64
 3   DEP        34990 non-null  object
 4   CTCD       34990 non-null  object
 5   ARR        34973 non-null  object
 6   TNCC       37563 non-null  int64
 7   NCC        37563 non-null  object
 8   NCCENR     37563 non-null  object
 9   LIBELLE    37563 non-null  object
 10  CAN        34845 non-null  object
 11  COMPARENT  2618 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 3.4+ MB

In [26]:
df.select_dtypes(['object', 'int64', 'float64'])

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN

In [31]:
df.shape

(37563, 12)

In [32]:
df.convert_dtypes('int64', 'float64')

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,<NA>
1,COM,01002,84,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,<NA>
2,COM,01004,84,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,<NA>
3,COM,01005,84,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,<NA>
4,COM,01006,84,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6,976,976D,<NA>,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,<NA>
37559,COM,97614,6,976,976D,<NA>,1,OUANGANI,Ouangani,Ouangani,97610,<NA>
37560,COM,97615,6,976,976D,<NA>,0,PAMANDZI,Pamandzi,Pamandzi,97611,<NA>
37561,COM,97616,6,976,976D,<NA>,0,SADA,Sada,Sada,97612,<NA>
37562,COM,97617,6,976,976D,<NA>,0,TSINGONI,Tsingoni,Tsingoni,97613,<NA>

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37563 entries, 0 to 37562
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TYPECOM    37563 non-null  object
 1   COM        37563 non-null  object
 2   REG        34990 non-null  float64
 3   DEP        34990 non-null  object
 4   CTCD       34990 non-null  object
 5   ARR        34973 non-null  object
 6   TNCC       37563 non-null  int64
 7   NCC        37563 non-null  object
 8   NCCENR     37563 non-null  object
 9   LIBELLE    37563 non-null  object
 10  CAN        34845 non-null  object
 11  COMPARENT  2618 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 3.4+ MB

In [ ]:
d = df.convert_dtypes()

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,<NA>
1,COM,01002,84,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,<NA>
2,COM,01004,84,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,<NA>
3,COM,01005,84,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,<NA>
4,COM,01006,84,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6,976,976D,<NA>,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,<NA>
37559,COM,97614,6,976,976D,<NA>,1,OUANGANI,Ouangani,Ouangani,97610,<NA>
37560,COM,97615,6,976,976D,<NA>,0,PAMANDZI,Pamandzi,Pamandzi,97611,<NA>
37561,COM,97616,6,976,976D,<NA>,0,SADA,Sada,Sada,97612,<NA>
37562,COM,97617,6,976,976D,<NA>,0,TSINGONI,Tsingoni,Tsingoni,97613,<NA>

In [38]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37563 entries, 0 to 37562
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TYPECOM    37563 non-null  string
 1   COM        37563 non-null  string
 2   REG        34990 non-null  Int64
 3   DEP        34990 non-null  string
 4   CTCD       34990 non-null  string
 5   ARR        34973 non-null  string
 6   TNCC       37563 non-null  Int64
 7   NCC        37563 non-null  string
 8   NCCENR     37563 non-null  string
 9   LIBELLE    37563 non-null  string
 10  CAN        34845 non-null  string
 11  COMPARENT  2618 non-null   Int64
dtypes: Int64(3), string(9)
memory usage: 3.5 MB

In [39]:
df.infer_objects()

,TYPECOM,COM,REG,DEP,CTCD,ARR,TNCC,NCC,NCCENR,LIBELLE,CAN,COMPARENT
0,COM,01001,84.0,01,01D,012,5,ABERGEMENT CLEMENCIAT,Abergement-Clémenciat,L'Abergement-Clémenciat,0108,NaN
1,COM,01002,84.0,01,01D,011,5,ABERGEMENT DE VAREY,Abergement-de-Varey,L'Abergement-de-Varey,0101,NaN
2,COM,01004,84.0,01,01D,011,1,AMBERIEU EN BUGEY,Ambérieu-en-Bugey,Ambérieu-en-Bugey,0101,NaN
3,COM,01005,84.0,01,01D,012,1,AMBERIEUX EN DOMBES,Ambérieux-en-Dombes,Ambérieux-en-Dombes,0122,NaN
4,COM,01006,84.0,01,01D,011,1,AMBLEON,Ambléon,Ambléon,0104,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37558,COM,97613,6.0,976,976D,NaN,0,M TSANGAMOUJI,M'Tsangamouji,M'Tsangamouji,97613,NaN
37559,COM,97614,6.0,976,976D,NaN,1,OUANGANI,Ouangani,Ouangani,97610,NaN
37560,COM,97615,6.0,976,976D,NaN,0,PAMANDZI,Pamandzi,Pamandzi,97611,NaN
37561,COM,97616,6.0,976,976D,NaN,0,SADA,Sada,Sada,97612,NaN
37562,COM,97617,6.0,976,976D,NaN,0,TSINGONI,Tsingoni,Tsingoni,97613,NaN