In [11]:
import numpy as np

In [53]:
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Ai Engineer'])

base_salaries = np.array([60000, 80000, 75000, 90000, np.nan])

bonus_rate = np.array([.05, .1, .08, .12, np.nan])

In [54]:
total_salaries = base_salaries * (1 - bonus_rate)
total_salaries

array([57000., 72000., 69000., 79200.,    nan])

In [55]:
all = [{str(o): float(t)} for o, t in zip(job_titles, total_salaries)]
all

[{'Data Analyst': 57000.0},
 {'Data Scientist': 72000.0},
 {'Data Engineer': 69000.0},
 {'Machine Learning Engineer': 79200.0},
 {'Ai Engineer': nan}]

In [56]:
mean = np.nanmean(total_salaries)
float(mean)

69300.0